<div class="container" >
    <div class="row align-items-center justify-content-center h-100">
        <div class="container col-lg-4 col-md-8 col-sm-6 text-center " style=" margin-top: 50px;" > 
            <form action="">
                <h3 style="color: #ba55d3;  font-family: Verdana, Geneva, Tahoma, sans-serif;">Sign up</h3>
                <input type="text" placeholder="accountname" class="form-control mt-2 " style=" border:  2px solid #ba55d3; " >
                <input type="text" placeholder="username" class="form-control mt-2" style=" border:  2px solid #ba55d3; " >
                <input type="text" placeholder="enter password" class="form-control mt-2" style=" border:  2px solid #ba55d3; " >
                <input type="text" placeholder="confirm password" class="form-control mt-2" style=" border:  2px solid #ba55d3; " >
                <button (click)="signup()" class="btn btn-outline mt-3 text-center" style="color:#ba55d3 ;">Sign up</button>
           </form>
        </div>
        <div class="col-lg-8 col-md-4 col-sm-6 text-center" > 
             <img id="img1"  src="https://i.postimg.cc/PJx5Td0G/12146011-Wavy-Gen-01-Single-07.jpg" class="img-fluid"  alt="" style="height: 550px; text-align: center " >  
             <!-- <img id="img1"  src="https://i.postimg.cc/L63ZTBzp/22112339-6538623.jpg" class="img-fluid"  alt="" style="height: 550px; text-align: center " >  -->
        </div>
    </div>
</div>

